/* src/components/Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  transition: background-color 0.3s;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo img {
  height: 40px;
  z-index: 100;
  transition: background-color 0.3s;
  width: auto;
}

nav a {
  margin-left: 2rem;
  font-size: 1rem;
  color: #000;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #007bff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* src/components/Header.css */
/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html, body {
  overflow-x: hidden;
}
